head
	meta(charset="utf-8")

	title= pageTitl
	meta(name="title", content=pageTitl)
	meta(name="description", content=pageDisc)
	meta(name="keywords", content=pageKeyw)

	-var viewport = "width=device-width,"
	-viewport += "maximum-scale=1.0,"
	-viewport += "minimum-scale=1.0"
	meta(name="viewport", content=viewport)
	meta(name="apple-mobile-web-app-capable", content="yes")
	meta(name="apple-mobile-web-app-status-bar-style", content="black")
	meta(name="format-detection", content="telephone=no")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")

	link(rel="icon", type="image/x-icon" href="assets/favicon.ico?v1")
	link(rel="stylesheet", href="assets/app.css")
	script(type="text/javascript" src="assets/libs.js")

	<!--[if lt IE 9]><script src="assets/html5shiv.min.js"></script><![endif]-->
